# http://meta.wikimedia.org/wiki/Using_a_very_short_URL

RewriteEngine on

# Don't rewrite anything that resides in images, skins, or fckeditor
# (er, shouldn't this be wiki/images, wiki/skins, etc?)
RewriteRule ^(images|skins|fckeditor)/ - [L]

RewriteRule ^/*([^./]*)$ /wiki/index.php?title=$1 [L,QSA]

# Ensure user can't access Subversion directories.
RewriteRule ^/*(.*)\.svn /$1 [L,R=permanent]
