<?php

# Copy this file to one named SiteSettings.php and customize it.
# Configuration items in this file override all others (in particular,
# those in LocalSettings.php and includes/DefaultSettings.php).
# Also be sure to edit SitePath.php.

$wgDBserver         = "db.example.com";
$wgDBname           = "db_name";
$wgDBuser           = "db_user";
$wgDBpassword       = "db_pass";

$wgEmergencyContact = "me@example.com";

$wgDBadminuser = $wgDBuser;
$wgDBadminpassword = $wgDBpassword;

?>
