<?php
# This contains the database settings for the main BerliOS site.

# DO NOT CHECK THIS INTO SVN!!
# It contains sensitive passwords.


$wgDBserver         = "db.berlios.de";
$wgDBname           = "openzaurus";
$wgDBuser           = "openzaurus";
$wgDBpassword       = "bogosity";
$wgDBprefix         = "mw_";

# If you're on MySQL 3.x, this next line must be FALSE:
$wgDBmysql4 = false;

# Experimental charset support for MySQL 4.1/5.0.
$wgDBmysql5 = false;
?>
